*{
    box-sizing: border-box;
    margin: 10;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
}
.navbar{
    box-shadow: 0px -3px 21px 3px rgba(0,0,0,0.52);
    -webkit-box-shadow: 0px -3px 21px 3px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px -3px 21px 3px rgba(0,0,0,0.52);
    border-radius: 10px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;

    padding: 0 15px;

}
.navbar .navbar-left, .navbar-right{
    display: flex;
    
}
.navbar .navbar-left{
    font-weight: 600;
    align-items: center;
}
.navbar .navbar-left > div{
    color: rgba(73,160,102,255);
    height: 30px;
    margin-left: 20px;
}
.navbar .navbar-right{
    color: rgba(73,160,102,255);
    align-items: center;
}
.navbar .navbar-right > button{
    border: 1px solid rgba(73,160,102,255);
    background-color: rgba(73,160,102,255);
    color: white;
}
.navbar .navbar-right{
    column-gap: 45px;
}

.navbar .navbar-right > img{
    width: 25px;
    height: 25px;
}

.navbar .navbar-right > button{
    width: 135px;
    height: 35px;
    border-radius: 4px;
}

nav .dropdown{
    font-weight: lighter;
    background-color: rgba(73,160,102,255);
    padding: 10px 0;
    flex-flow: column;
    align-items: center;
    row-gap: 40px;
    color: white;
    display: none;
}
nav .dropdown > button{
    width: 135px;
    height: 35px;
    border-radius: 4px;
}
nav .dropdown > button{
    box-shadow: 0px 0px 9px 1px rgba(87,85,85,0.56);
-webkit-box-shadow: 0px 0px 9px 1px rgba(87,85,85,0.56);
-moz-box-shadow: 0px 0px 9px 1px rgba(87,85,85,0.56);
    border-radius: 4px;
    border-color: lightslategray;
    color: rgba(73,160,102,255);
   
}
nav .sidebyside{
    font-weight: lighter;
    background-color: rgba(73,160,102,255);
    padding: 10px 0;
    flex-flow: row;
    align-items: center;
    row-gap: 40px;
    color: white;
    display: none;
}
nav .sidebyside > button{
    width: 135px;
    height: 35px;
    border-radius: 4px;
}
nav .sidebyside > button{
    box-shadow: 0px 0px 9px 1px rgba(87,85,85,0.56);
-webkit-box-shadow: 0px 0px 9px 1px rgba(87,85,85,0.56);
-moz-box-shadow: 0px 0px 9px 1px rgba(87,85,85,0.56);
    border-radius: 4px;
    border-color: lightslategray;
    color: rgba(73,160,102,255);
   
}



@media only screen and (max-width: 768px){
    .navbar .navbar-right > span, button{
        display: none;
    }
    .navbar .navbar-right > img{
        display: inline-block;
    }
    nav .dropdown{
        display: flex;
        font-weight: lighter;
        
    }
    nav .dropdown > button{
        display: flex;
        color: rgba(73,160,102,255);
        justify-content: center;
        align-items: center;
    }
   
    
}





